{{#if isSecondary}}
  {{#foreach navigation}}
    <li class='c-nav__item c-nav__item--primary'>
      <a href='{{ url absolute='true' }}' class='c-nav__link {{#if current}} c-nav__link--current {{/if}}'>{{ label }}</a>
    </li>
  {{/foreach}}
{{else}}
  {{#foreach navigation}}
    <li class='c-nav__item c-nav__item--primary js-nav-item{{#match (url absolute='true') '~' '?nav-has-children'}} c-nav__item--has-children{{/match}}{{#match (url absolute='true') '~' '&nav-has-children'}} c-nav__item--has-children{{/match}}{{#match (url absolute='true') '~' '?nav-child'}} c-nav__item--pending-child{{/match}}{{#match (url absolute='true') '~' '&nav-child'}} c-nav__item--pending-child{{/match}}{{#match (url absolute='true') '~' '?nav-grandchild'}} c-nav__item--pending-grandchild{{/match}}{{#match (url absolute='true') '~' '&nav-grandchild'}} c-nav__item--pending-grandchild{{/match}}' data-nav-url='{{ url absolute='true' }}'>
      <a href='{{ url absolute='true' }}' class='c-nav__link {{#if current}} c-nav__link--current {{/if}}'>{{ label }}</a>
      {{#match (url absolute='true') '~' '?nav-has-children'}}<button type='button' class='c-nav__toggle js-nav-toggle' aria-expanded='false' aria-label='Toggle {{ label }} submenu'><span class='u-screenreader'>Open submenu</span></button>{{/match}}{{#match (url absolute='true') '~' '&nav-has-children'}}<button type='button' class='c-nav__toggle js-nav-toggle' aria-expanded='false' aria-label='Toggle {{ label }} submenu'><span class='u-screenreader'>Open submenu</span></button>{{/match}}
    </li>
  {{/foreach}}
{{/if}}