<ul class='c-social-icons u-plain-list'>
  {{!-- X, formerly known as Twitter (Site Settings) --}}
  {{#if @site.twitter}}
    <li class='c-social-icons__item'>
      <a href='{{ social_url type="twitter" }}' class='c-social-icons__link'>
        {{> icons/twitter-x}}
        <span class='u-screenreader'>X, formerly known as Twitter</span>
      </a>
    </li>
  {{/if}}

  {{!-- Facebook (Site Settings) --}}
  {{#if @site.facebook}}
    <li class='c-social-icons__item'>
      <a href='{{ social_url type="facebook" }}' class='c-social-icons__link'>
        {{> icons/facebook}}
        <span class='u-screenreader'>Facebook</span>
      </a>
    </li>
  {{/if}}

  {{!-- LinkedIn (Site Settings) --}}
  {{#if @site.linkedin}}
    <li class='c-social-icons__item'>
      <a href='{{ social_url type="linkedin" }}' class='c-social-icons__link'>
        {{> icons/linkedin}}
        <span class='u-screenreader'>LinkedIn</span>
      </a>
    </li>
  {{/if}}

  {{!-- Bluesky (Site Settings) --}}
  {{#if @site.bluesky}}
    <li class='c-social-icons__item'>
      <a href='{{ social_url type="bluesky" }}' class='c-social-icons__link'>
        {{> icons/bluesky}}
        <span class='u-screenreader'>Bluesky</span>
      </a>
    </li>
  {{/if}}

  {{!-- Mastodon (Site Settings) --}}
  {{#if @site.mastodon}}
    <li class='c-social-icons__item'>
      <a href='{{ social_url type="mastodon" }}' class='c-social-icons__link'>
        {{> icons/mastodon}}
        <span class='u-screenreader'>Mastodon</span>
      </a>
    </li>
  {{/if}}

  {{!-- YouTube (Site Settings) --}}
  {{#if @site.youtube}}
    <li class='c-social-icons__item'>
      <a href='{{ social_url type="youtube" }}' class='c-social-icons__link'>
        {{> icons/youtube}}
        <span class='u-screenreader'>YouTube</span>
      </a>
    </li>
  {{/if}}

  {{!-- Instagram (Site Settings) --}}
  {{#if @site.instagram}}
    <li class='c-social-icons__item'>
      <a href='{{ social_url type="instagram" }}' class='c-social-icons__link'>
        {{> icons/instagram}}
        <span class='u-screenreader'>Instagram</span>
      </a>
    </li>
  {{/if}}

  {{!-- Threads (Site Settings) --}}
  {{#if @site.threads}}
    <li class='c-social-icons__item'>
      <a href='{{ social_url type="threads" }}' class='c-social-icons__link'>
        {{> icons/threads}}
        <span class='u-screenreader'>Threads</span>
      </a>
    </li>
  {{/if}}

  {{!-- Pinterest (Theme Settings) --}}
  {{#if @custom.pinterest_page}}
    <li class='c-social-icons__item'>
      <a href='{{ @custom.pinterest_page }}' class='c-social-icons__link'>
        {{> icons/pinterest}}
        <span class='u-screenreader'>Pinterest</span>
      </a>
    </li>
  {{/if}}

  {{!-- Discord (Theme Settings) --}}
  {{#if @custom.discord_page}}
    <li class='c-social-icons__item'>
      <a href='{{ @custom.discord_page }}' class='c-social-icons__link'>
        {{> icons/discord}}
        <span class='u-screenreader'>Discord</span>
      </a>
    </li>
  {{/if}}

  {{!-- TikTok (Site Settings) --}}
  {{#if @site.tiktok}}
    <li class='c-social-icons__item'>
      <a href='{{ social_url type="tiktok" }}' class='c-social-icons__link'>
        {{> icons/tiktok}}
        <span class='u-screenreader'>TikTok</span>
      </a>
    </li>
  {{/if}}

  {{!-- RSS (Hardcoded) --}}
  <li class='c-social-icons__item'>
    <a href='/article/rss/' class='c-social-icons__link'>
      {{> icons/rss}}
      <span class='u-screenreader'>RSS</span>
    </a>
  </li>
</ul>
