<div class='c-section c-section--{{sectionSlug}}'>
  <div class='o-grid'>
    <div class='c-section-heading'>
      <h2 class='c-section-heading__title'><a href='{{sectionUrl}}'>{{sectionName}}</a></h2>

      {{#get 'posts' filter=postFilter limit='1' as |sectionPosts sectionPagination|}}
        <a href='{{sectionUrl}}' class='c-section-heading__all
          {{#match sectionPagination.total ">" @custom.number_of_posts_for_tags_home_sections}}u-block{{else}}u-hidden{{/match}}'>
          {{t 'See all'}}
        </a>
      {{/get}}
    </div>
  </div>

  <div class='o-grid o-grid--4-columns'>
    {{#get 'posts' filter=postFilter include='tags,authors' limit=@custom.number_of_posts_for_tags_home_sections as |posts|}}
      {{#if posts}}
        {{#foreach posts}}
          {{> card showExcerpt=true }}
        {{/foreach}}
      {{/if}}
    {{/get}}
  </div>
</div>
